.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.7fr 1.5fr 1fr 1.5fr 1fr 0.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #d3d3d3;
  color: #6a6a6a;
  text-align: center;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #d3d3d3;
  color: #6a6a6a;
  text-align: center;
}
.div3 {
  background-color: #d3d3d3;
  color: #6a6a6a;
  grid-area: 1 / 3 / 2 / 4;
  text-align: center;
}
.div4 {
  background-color: #d3d3d3;
  color: #6a6a6a;
  grid-area: 1 / 4 / 2 / 5;
  text-align: center;
}
.div5 {
  background-color: #d3d3d3;
  color: #6a6a6a;
  grid-area: 1 / 5 / 2 / 6;
  text-align: center;
}
.div6 {
  background-color: #d3d3d3;
  color: #6a6a6a;
  grid-area: 1 / 6 / 2 / 7;
  text-align: center;
}
.div7 {
  grid-area: 2 / 1 / 3 / 7;
  background-color: #4d4d4d;
  color: #c5c5c5;
}

.div8 {
  grid-area: 3 / 1 / 5 / 3;
  background-color: #bfbfbf;
  color: #4a4a4a;
}
.div9 {
  grid-area: 3 / 3 / 5 / 7;
  background-color: #e5e5e5;
  color: #757575;
}

.div9 h4 {
  color: #393939;
}

.div10 {
  grid-area: 5 / 1 / 6 / 7;
  background-color: #7f7f7f;
  color: #e3e3e3;
}

.parent2 {
  grid-area: 6 / 1 / 6 / 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #4d4d4d;
  padding: 0px 10px 10px 10px;
}

.div11 {
  grid-area: 2 / 1 / 7 / 2;
  background-color: #7f7f7f;
  color: #cacaca;
}
.div12 {
  grid-area: 2 / 2 / 7 / 3;
  background-color: #7f7f7f;
  color: #cacaca;
  
}
.div13 {
  grid-area: 2 / 3 / 7 / 4;
  background-color: #7f7f7f;
  color: #cacaca;
  
}
.div14 {
  grid-area: 2 / 4 / 7 / 5;
  background-color: #7f7f7f;
  color: #cacaca;
  
}

@media (width <= 500px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 0.4fr);
    grid-template-rows: repeat(10, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #d3d3d3;
    color: #6a6a6a;
    text-align: center;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #d3d3d3;
    color: #6a6a6a;
    text-align: center;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #d3d3d3;
    color: #6a6a6a;
    text-align: center;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #d3d3d3;
    color: #6a6a6a;
    text-align: center;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #d3d3d3;
    color: #6a6a6a;
    text-align: center;
  }
  .div6 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #d3d3d3;
    color: #6a6a6a;
    text-align: center;
  }
  .div7 {
    grid-area: 3 / 1 / 5 / 4;
    background-color: #4d4d4d;
    color: #c5c5c5;
  }
  .div8 {
    grid-area: 5 / 1 / 7 / 4;
    background-color: #bfbfbf;
    color: #4a4a4a;
  }
  .div9 {
    grid-area: 7 / 1 / 8 / 4;
    background-color: #e5e5e5;
  }

  .div9 h4 {
    color: #393939;
  }
  .div10 {
    grid-area: 8 / 1 / 9 / 4;
    background-color: #7f7f7f;
    color: #e3e3e3;
  }
  .parent2 {
    grid-area: 9 / 1 / 9 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #4d4d4d;
    padding: 10px 10px 10px 10px;
  }

  .div11 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #7f7f7f;
    color: #cacaca;
  }

  .div12 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #7f7f7f;
    color: #cacaca;
  }

  .div13 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #7f7f7f;
    color: #cacaca;
  }

  .div14 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #7f7f7f;
    color: #cacaca;
  }
}
