h1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-item:hover {
  box-shadow: 0px 0px 10px 5px gray;
  transition: 0.5s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 50vw;
}

.item1 {
  grid-area: 1 / 1 / 3 / 2;
  background-image: url("../imgs/pexels-photo-2961121.jpeg");
}
.item2 {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("../imgs/pexels-photo-2941098.jpeg");
}
.item3 {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("../imgs/pexels-photo-2948260.jpeg");
}
.item4 {
  grid-area: 1 / 3 / 3 / 4;
  background-image: url("../imgs/pexels-photo-2958731.jpeg");
}
.item5 {
  grid-area: 1 / 4 / 2 / 5;
  background-image: url("../imgs/pexels-photo-2967810.jpeg");
}
.item6 {
  grid-area: 2 / 4 / 3 / 5;
  background-image: url("../imgs/pexels-photo-2944537.jpeg");
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 50vw;
}

.item7 {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url("../imgs/pexels-photo-2976579.jpg");
}
.item8 {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("../imgs/pexels-photo-2962135.jpeg");
}
.item9 {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url("../imgs/pexels-photo-2905547.jpg");
}
.item10 {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url("../imgs/pexels-photo-2922672.jpeg");
}
.item11 {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("../imgs/pexels-photo-3012724.jpeg");
}
.item12 {
  grid-area: 3 / 1 / 4 / 2;
  background-image: url("../imgs/pexels-photo-2943603.jpeg");
}

p {
  font-size: 25px;
  text-align: left;
  width: 60%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  margin-right: 10px;
}

@media (500px < width < 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    height: auto;
  }

  .item1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .item2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .item3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .item4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .item5 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .item6 {
    grid-area: 3 / 2 / 5 / 3;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    height: auto;

}

  .item7 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .item8 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .item9 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .item10 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .item11 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .item12 {
    grid-area: 3 / 2 / 4 / 3;
  }

 
}

@media (width < 500px) and (orientation: portrait) {
    
  .grid-container, .grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    height: auto;

  }

  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7,
  .item8,
  .item9,
  .item10,
  .item11,
  .item12{
    grid-area: auto;
  }

}
