%button-block {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

%input-block {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #bbb;
}

/*Vamos a realizar un cambio con respecto al hover del botón del login, de forma que si el
estilo del tema es light el color del botón será el color de fondo oscurecido un 10%, pero
en el caso contrario el color de fondo será aclarado un 20%. Cambiaremos el color del
botón en ambos casos por el color del texto (#eee)
Crea una lista con cada una de las clases de los iconos que debemos insertar (menu,
news, money y contact ), su path, la posición, y su alto y ancho. Recorre esa lista darle
valor a cada clase de forma que tengamos como resultado, por ejemplo:

.icon-news {
background-image: url("../images/news.png"); background-
position: 0px -90px; height: 30px; width: 39px;
}

Ejemplo de lista:
$icons:((icon-menu, "../images/menu.png", 0px, -30px, 50px, 54px),...)
NOTA: Las imágenes están insertadas dentro del elemento “i” de HTML. Para que se
muestren adecuadamente debes aplicar a la propiedad display el valor inline-block.
*/

$iconos: (
    (menu, "../img/menu.png", 0px, 0px, 30px, 32px), 
    (news, "../img/news.png", 0px, -90px, 30px, 39px), 
    (money, "../img/money.png", 0px, -100px, 50px, 54px),
    (contact, "../img/contact.png", 0px, 0px, 30px, 30px)
);

@each $icono in $iconos{
    .icon-#{nth($icono,1)}{
        background-image: url(nth($icono,2));
        background-position: nth($icono,3) nth($icono,4);
        height: nth($icono,5);
        width:nth($icono,6);
    }
}